@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 100%;
    line-height: 1.5;
    letter-spacing: 0.12em !important;
    word-spacing: 0.16em !important;
}

p {
    @apply mb-[2em];
}

.modal {
    @apply fixed top-0 bottom-0 left-0 right-0 z-[1000] flex flex-col items-center;
    /* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;

    @apply absolute -z-[1] top-0 bottom-0 left-0 right-0 opacity-25 bg-zinc-600;
}

.modal > .modal-content {
    @apply mt-[10vh] w-[80%] max-w-[600px] rounded-[8px] bg-zinc-950 p-[20px];

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 

.post {}

.post a {
    @apply text-blue-700;
    word-break: break-all
}

.post p code {
    @apply text-zinc-900;
}

.post li code {
    @apply text-zinc-900;
}

.post h1 {
    @apply text-4xl pb-3 mb-4 pl-6 -ml-6 font-black;
}

.post h2 {
    @apply text-3xl pb-2 mb-3 pl-6 -ml-6 font-extrabold;
}

.post h3 {
    @apply text-2xl pb-1 mb-2 pl-6 -ml-6 font-bold;
}

.post h4 {
    @apply text-xl pb-1 mb-2 pl-6 -ml-6 font-semibold;
}

.post h5 {
    @apply text-lg pb-1 mb-2 pl-6 -ml-6 font-medium;
}

.post h6 {
    @apply text-base pb-1 mb-2 pl-6 -ml-6 font-normal;
}

.post p {
    @apply mb-4;
}

.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a,
.post h6 a {
    @apply text-zinc-500 text-base font-medium float-left -ml-6 leading-loose invisible;
}

.post h1:hover a,
.post h1.hover a,
.post h2:hover a,
.post h2.hover a,
.post h3:hover a,
.post h3.hover a,
.post h4:hover a,
.post h4.hover a,
.post h5:hover a,
.post h5.hover a,
.post h6:hover a,
.post h6.hover a {
    @apply visible;
}


.post a:hover {
    @apply underline;
    visibility: visible;
}

.post ul {
    @apply mb-4 pl-6 list-disc;
}

.post ul ul {
    @apply mb-1 list-[circle];
}

.post ul ul ul {
    @apply mb-1 list-[square];
}

.post ol {
    @apply mb-4 pl-6 list-decimal;
}

.post li {
    @apply mb-1 list-item;
}

.post blockquote {
    @apply border-l-2 pl-4 border-gray-300;
}

.post code {
    @apply bg-gray-100 py-1 px-2 border border-gray-300;
}

.post hr {
    @apply border-t-2 border-gray-300 my-4;
}

.post img {
    @apply max-w-full h-auto;
}

.post table {
    @apply table-auto w-full mb-4;
}

.post th,
.post td {
    @apply border border-gray-300 py-2 px-4 text-left;
}

.post em {
    @apply italic;
}

.post strong {
    @apply font-bold;
}

.post s {
    @apply line-through;
}

.post pre {
    @apply bg-gray-100 p-4 mb-4 border border-gray-300 overflow-x-auto;
}

.post .task-list-item {
    @apply list-none;
}

.post dl {
    @apply mb-4;
}

.post dt {
    @apply font-bold;
}

.post .footnote {
    @apply text-sm;
}

.post .my-custom-class {
    /* your styles here */
}